.block1 {
			margin: 50px auto;
			width: 400px;
			height: 400px;
			padding: 10px;
			border-radius: 400px;
			background-color: #7FFFD4;
			position: relative;
			
		}

		.block2  {
			width: 100px;
			height: 100px;
			border-radius: 100px;
			background: blue;
			top: 65px;
			left: 70px;
			position: absolute;
			

		}
		.block3 {
			width: 100px;
			height: 100px;
			border-radius: 100px;
			background: blue;
			right: 70px; 
			top: 65px;
			position: absolute;
			
		}
		
		.block4 {
			width: 150px;
			height: 150px;
			background: red;
			border-radius: 150px;
			left: 135px;
			top: 230px;
			position: absolute;
			
		}

		.block5 {
			width: 150px;
			height: 150px;
			background: #7FFFD4;
			border-radius: 150px;
			left: 135px;
			top: 200px;
			position: absolute;
			
		}
		.block6 {
			width: 70px;
			height: 70px;
			background: green;
			left: 175px;
			top: 175px;
			position: absolute;

		}